<!DOCTYPE html>
<html>
  <head>
    <title>Ecomm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">  
  </head>
  
  <body>
  
  <div class="bg-gray-500 py-4">
  <div class="flex justify-between items-center px-4 max-w-screen-lg mx-auto ">
    <div class="flex items-center space-x-4">
    <div class= "px-3 py-2 font-bold border-2 border-blue-800  hover:bg-blue-700 bg-blue-600 text-white  rounded-lg hover:rounded-full  ">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>
     <% end %>
    </div>

      <% if user_signed_in? %>
      <div class= "px-3 py-2 font-bold border-2 border-green-800  hover:bg-green-700 bg-green-600 text-white  rounded-lg hover:rounded-full  "> 
        <%= link_to user_profile_path do  %>
          <i class="fa-solid fa-user"></i>        
        <% end %>

    </div>

      <% end %>
    </div>

    <div class="flex items-center space-x-4">
      <% if user_signed_in? %>
    <div class="px-4 py-2 font-bold border-2 border-red-700 hover:bg-slate-100 bg-slate-50 text-red-600 rounded-lg hover:rounded-full mx-6">
  <%= button_to destroy_user_session_path, method: :delete, class: "flex items-center" do %>
    Log out
    <i class="fas fa-right-from-bracket ml-2"></i>
  <% end %>
   
</div>

        
        <%= link_to cart_items_path, class: 'px-2 py-2 font-bold border-2 border-green-800  hover:bg-green-700 bg-green-600 text-white  rounded-lg hover:rounded-full  ' do %>
           <i class="fa-solid fa-cart-shopping text-[18px]"></i>
          <span class="bg-white  text-gray-700 border-2 border-green-900 rounded-full px-2 py-1 ml-2">
  <%= current_user.cart_items.count %>
          </span>
        <% end %>
      <% else %>
        <%= button_to new_user_session_path, method: :get, class: "px-2 py-2 font-bold border-2 border-green-800 hover:bg-green-700 bg-green-600 text-white rounded-lg hover:rounded-full flex items-center" do %>
  Log in
  <i class="fas fa-sign-in-alt ml-2"></i>
<% end %>

<%= button_to new_user_registration_path, method: :get, class: "px-2 py-2 font-bold border-2 border-green-700 hover:bg-slate-100 bg-slate-50 text-green-600 rounded-lg hover:rounded-full flex items-center" do %>
  Sign up
  <i class="fas fa-user-plus ml-2"></i>
<% end %>

      <% end %>
    </div>
  </div>
</div>

<main class="flex justify-center  mt-16 mx-8">
  <%= yield %>
</main>

<div class="fixed left-4 top-4">
  <% if notice %>
    <div id="notice" class="bg-green-500 text-white px-4 py-2 rounded">
      <%= notice %>
    </div>
  <% elsif alert %>
    <div id="alert" class="bg-red-500 text-white px-4 py-2 rounded">
      <%= alert %>
    </div>
  <% end %>
</div>

    
  </body>
</html>

<script>
  setTimeout(function() {
    var noticeElement = document.getElementById('notice');
    var alertElement = document.getElementById('alert');

    if (noticeElement) {
      noticeElement.style.display = 'none';
    }
    if (alertElement) {
      alertElement.style.display = 'none';
    }
  }, 2500);
</script>